{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo">Library</span>
    </div>
    <a href="{% url 'account_list' %}">Home</a> /
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Log-out</a> /
    {% else %} 
        <a href="{% url 'login' %}">Log-in</a> /
    {% endif %}

    
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>