{% comment %}
{% extends "shop/base.html" %}
{% endcomment %}

{% load static %}

{% block title %}
    {{ account.name }}
{% endblock %}

{% block content %}
    <div class="account-detail">
        <img src="{% if account.image %}{{ account.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
        <h1>{{ account.name }}</h1>
        <p class="password">${{ account.account_pass }}</p>
        <form action="{% url "account_detail" account.id %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>
        {{ account.type|linebreaks }}
    </div>
{% endblock %}

        
        
        
