{% load static %}


{% block title %}
    {% if category %}{{ category.name }}{% else %}Accounts{% endif %}
{% endblock %}

    <a href="{% url 'account_list' %}">Home</a> /
    {% if user.is_authenticated %}
        <a href="{% url 'logout' %}">Log-out</a> /
    {% else %} 
        <a href="{% url 'login' %}">Log-in</a> /
    {% endif %}

{% block content %}
    <div id="main" class="account-list">
        <h1>Welcome to Accounts, 
        {% if user.is_authenticated %}
            {{ user.username }}
        {% else %} 
            Anynomous
        {% endif %}
        !</h1>
        {% for account in accounts %}
            <div class="item">
                <a href="{{ account.get_absolute_url }}">
                    <img src="{% if account.type %}{{ account.type.url }}{% else %}{% static "img/no_image.png" %}{% endif %}">
                </a>
                <a href="{{ account.get_absolute_url }}">{{ account.account_name }}</a> {{ account.status }}<br>
                
            </div>
        {% endfor %}
    </div>
{% endblock %}